<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<!-- <link rel="stylesheet" href="./css/main.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="./css/main.css">
		

	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/login',
					data: $('#form').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form')[0].reset();

						document.getElementById("check").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check").innerHTML="";
         					},3000);
         					if (response.Success=="Success!") {
         						document.getElementById("aa").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});

		}); 
	</script>
</head>
<body style = "background-image: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Solid-Black-HD-Background-.jpg)
">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">música 𝄞</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/">Register</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/forgetpass">Forget password</a>
			</li>
			<!-- <li class="nav-item">
			  <a class="nav-link disabled" href="#">Disabled</a>
			</li> -->
		  </ul>
		</div>
	  </nav>
	<div class="col-md-12 col-md-offset-4">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group" style = "display:flex;flex-direction:column;align-items:center;justify-content:center">
			<form id="form" method="post" style = "width:47.56%" >
				<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
				<input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
				<input type="submit" value="Login" class="btn btn-success">
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/profile" id="aa"></a>
		</div>
		<!-- <div><span>Do you forgot password?</span><a href="/forgetpass">Click here</a>
		<div><span>Create a new Account?</span><a href="/">Register here</a> -->

		</div>
		
	</div>
</body>
</html>